{% extends "layout_forms.html" %}

{% block title %}
    Update Information
{% endblock %}

{% block heading %}
    Update Info
{% endblock %}

{% block main %}
    <form action="/update" method="post">
        {% for value in info %}
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control"  placeholder="{{ value.user_id }}" name="user_id" disabled="disabled" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control"  placeholder="{{ value.name }}" name="name" type="text" disabled="disabled">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control"  placeholder="{{ value.phone }}" name="phone" type="tel" pattern="[0-9]{8}">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control"  placeholder="{{ value.email }}" name="email" type="text" max="255">
        </div>
        <p id="info_update">Enter your password to update</p>
        <div class="form-group">
            <input  class="form-control" name="password" placeholder="Password" type="password" min="8">
        </div>
        <button class="blue_submit" type="submit">Update</button>
        {% endfor %}
    </form>
{% endblock %}